.inner-shadow {
   -webkit-box-shadow: inset 0 0 10px #000000;
   	  -moz-box-shadow: inset 0 0 10px #000000;
   		   box-shadow: inset 0 0 10px #000000;
}

.outer-shadow {
	-webkit-box-shadow: 0 0 5px 5px #eeeeee;
	   -moz-box-shadow: 0 0 5px 5px #eeeeee;
	   	    box-shadow: 0 0 5px 5px #eeeeee;
}